.favorites h1 {
    text-align: center;
    margin-top: 18px;
}

.favorites ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 350px;
    background-color: transparent;
}

.favorites a {
    margin-right: 30px;
    text-decoration: none;
    color: #116feb;

}

.favorites button:hover {
    background-color: #116feb;
    transition: all 0.5s;
    color: #fff;
}

.favorites span {
    font-size: 20px;
}

.favorites button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 8px;
}